In [1]:
import pandas as pd
import numpy as np
from yahoo_fin.stock_info import get_data
import yahoo_fin.stock_info as si
import html5lib

In [2]:
amazon_weekly= get_data("amzn", start_date="12/04/2009", end_date="01/11/2021", index_as_date = True, interval="1wk")
amazon_weekly

,open,high,low,close,adjclose,volume,ticker
2009-11-30,143.619995,145.910004,135.110001,137.580002,137.580002,31350900,AMZN
2009-12-07,138.000000,139.000000,129.820007,134.149994,134.149994,47863000,AMZN
2009-12-14,132.500000,132.610001,125.650002,128.479996,128.479996,45794900,AMZN
2009-12-21,130.479996,139.699997,130.190002,138.470001,138.470001,32406000,AMZN
2009-12-28,139.750000,142.580002,134.520004,134.520004,134.520004,28600700,AMZN
...,...,...,...,...,...,...,...
2020-12-07,3156.479980,3184.129883,3072.820068,3116.419922,3116.419922,16233300,AMZN
2020-12-14,3143.000000,3263.510010,3126.000000,3201.649902,3201.649902,21372900,AMZN
2020-12-21,3200.010010,3226.969971,3166.000000,3172.689941,3172.689941,9751900,AMZN
2020-12-28,3194.000000,3350.649902,3172.689941,3256.929932,3256.929932,16726200,AMZN
2021-01-04,3270.000000,3272.000000,3131.159912,3182.699951,3182.699951,18513900,AMZN

In [3]:
quote_table = si.get_quote_table("aapl", dict_result=False)
quote_table

                   attribute                        value
0              1y Target Est                       169.06
1              52 Week Range              108.73 - 157.26
2                        Ask                  0.00 x 1200
3                Avg. Volume                   75360573.0
4          Beta (5Y Monthly)                         1.22
5                        Bid                  0.00 x 1300
6                Day's Range              147.80 - 149.70
7                  EPS (TTM)                         5.61
8              Earnings Date  Jan 25, 2022 - Jan 31, 2022
9           Ex-Dividend Date                 Nov 05, 2021
10  Forward Dividend & Yield                 0.88 (0.59%)
11                Market Cap                       2.444T
12                      Open                       148.99
13            PE Ratio (TTM)                        26.55
14            Previous Close                        149.8
15               Quote Price                   148.960007
16                    Volume                   74588258.0

In [4]:
quote_table = si.get_quote_table("aapl")
quote_table["Forward Dividend & Yield"]

'0.88 (0.59%)'

All Stocks(16):

Wal-Mart Stores
Kimberly-Clark
Altria Group
W.P. Carey Inc. (REIT)
Cisco
AT&T
Blackstone Group
Apple
Caterpillar Inc.
Simon Property Group (REIT)
Pfizer
Johnson & Johnson
Praxair
Lockheed Martin
Avery Dennison

JANUARY:

1st Week:
Wal-Mart Stores - WMT
Kimberly-Clark - KMB	

2nd Week:
Altria Group	

3rd Week:
W.P. Carey Inc. (REIT)	

4th Week:
Cisco


TOTAL PORTFOLIO:
1600

In [14]:
def get_div_data(ticker):
    quote_table = si.get_quote_table(ticker)
    dividend_data = quote_table["Forward Dividend & Yield"]
    print(f"Ticker is: {ticker} and divdend data is: {dividend_data}")
    print(dividend_data.split(" "))
    quote_price = quote_table["Quote Price"]
    print(quote_price)
    
    
company_name = ["Wall-Mart", "Kimberly-Clark", "Alteria Group", "W.P. Carey REIT", "Cisco"]
     
ticker_list = ["WMT", "KMB", "MO", "WPC", "CSCO"]

x = 0

for ticker in ticker_list:
    print(company_name[x])
    get_div_data(ticker)
    x += 1

Wall-Mart
Ticker is: WMT and divdend data is: 2.20 (1.47%)
['2.20', '(1.47%)']
149.7899932861328
Kimberly-Clark
Ticker is: KMB and divdend data is: 4.56 (3.52%)
['4.56', '(3.52%)']
130.27999877929688
Alteria Group
Ticker is: MO and divdend data is: 3.60 (8.17%)
['3.60', '(8.17%)']
44.04999923706055
W.P. Carey REIT
Ticker is: WPC and divdend data is: 4.21 (5.37%)
['4.21', '(5.37%)']
78.30000305175781
Cisco
Ticker is: CSCO and divdend data is: 1.48 (2.64%)
['1.48', '(2.64%)']
56.099998474121094

In [84]:
class GetData:
  def __init__(self, ticker):
    self.ticker = ticker

  def get_div_amount_data(self):
    quote_table = si.get_quote_table(self.ticker)
    dividend_data = quote_table["Forward Dividend & Yield"].split(" ")
    return float(dividend_data[0])

  def get_div_percent_data(self):
    quote_table = si.get_quote_table(self.ticker)
    dividend_data = quote_table["Forward Dividend & Yield"].split(" ")
    return dividend_data[1]

        
  def get_price_data(self):
    quote_table = si.get_quote_table(self.ticker)
    quote_price = quote_table["Quote Price"]
    return(round(quote_price, 2))
    
    
        
    
     
jan_ticks = ["WMT", "KMB", "MO", "WPC", "CSCO"]

company_dict = {
    "WMT": "Wall-Mart",
    "KMB": "Kimberly-Klark",
    "MO": "Alteria Group" ,
    "WPC": "W.P. Carey Inc. REIT",
    "CSCO": "Cisco"
}

lst = []

columns = ["Name", "Ticker", "Return"]

for tick in jan_ticks:
    
    div_amount = GetData(tick).get_div_amount_data()
    div_percent = GetData(tick).get_div_percent_data()
    tick_price = GetData(tick).get_price_data()
    
    my_div = round((100/tick_price) * div_amount, 2) 
    
    
    
    print(company_dict[tick])
    lst.append(company_dict[tick])
    
    print(tick)
    lst.append(tick)
    
    print(div_amount)
    
    
    print(tick_price)
    
    
    print(my_div)
    lst.append(my_div)
    
x = 0
y = 3
z = 0
max_range = len(lst)/3

new_lst = []

while z < max_range:
    new_lst.append(lst[x:y])
    x += 3
    y += 3
    z += 1


print(new_lst)
    
dataFrame = pd.DataFrame(np.array(new_lst), columns=columns)
dataFrame

Wall-Mart
WMT
2.2
149.65
1.47
Kimberly-Klark
KMB
4.56
130.37
3.5
Alteria Group
MO
3.6
44.1
8.16
W.P. Carey Inc. REIT
WPC
4.21
78.03
5.4
Cisco
CSCO
1.48
57.28
2.58
[['Wall-Mart', 'WMT', 1.47], ['Kimberly-Klark', 'KMB', 3.5], ['Alteria Group', 'MO', 8.16], ['W.P. Carey Inc. REIT', 'WPC', 5.4], ['Cisco', 'CSCO', 2.58]]

                   Name Ticker Return
0             Wall-Mart    WMT   1.47
1        Kimberly-Klark    KMB    3.5
2         Alteria Group     MO   8.16
3  W.P. Carey Inc. REIT    WPC    5.4
4                 Cisco   CSCO   2.58

In [86]:
class GetData:
  def __init__(self, ticker):
    self.ticker = ticker

  def get_div_amount_data(self):
    quote_table = si.get_quote_table(self.ticker)
    dividend_data = quote_table["Forward Dividend & Yield"].split(" ")
    return float(dividend_data[0])

  def get_div_percent_data(self):
    quote_table = si.get_quote_table(self.ticker)
    dividend_data = quote_table["Forward Dividend & Yield"].split(" ")
    return dividend_data[1]

        
  def get_price_data(self):
    quote_table = si.get_quote_table(self.ticker)
    quote_price = quote_table["Quote Price"]
    return(round(quote_price, 2))
    
    
        
    
     
jan_ticks = ["WMT", "KMB", "MO", "WPC", "CSCO"]

company_dict = {
    "WMT": "Wall-Mart",
    "KMB": "Kimberly-Klark",
    "MO": "Alteria Group" ,
    "WPC": "W.P. Carey Inc. REIT",
    "CSCO": "Cisco"
}

lst = []
sums = []

columns = ["Name", "Ticker", "Return"]

for tick in jan_ticks:
    
    div_amount = GetData(tick).get_div_amount_data()
    div_percent = GetData(tick).get_div_percent_data()
    tick_price = GetData(tick).get_price_data()
    
    my_div = round((100/tick_price) * div_amount, 2) 

    lst.append(company_dict[tick])

    lst.append(tick)
    
    lst.append(my_div)
    sums.append(my_div)
    
x = 0
y = 3
z = 0
max_range = len(lst)/3

new_lst = []

while z < max_range:
    new_lst.append(lst[x:y])
    x += 3
    y += 3
    z += 1


total_monthly_return = sum(sums)
print(f"Total Monthly return is {total_monthly_return}")
    
dataFrame = pd.DataFrame(np.array(new_lst), columns=columns)
dataFrame

Total Monthly return is 21.11

                   Name Ticker Return
0             Wall-Mart    WMT   1.47
1        Kimberly-Klark    KMB    3.5
2         Alteria Group     MO   8.17
3  W.P. Carey Inc. REIT    WPC   5.39
4                 Cisco   CSCO   2.58

In [88]:

def get_data(tickers):

    lst = []

    company_dict = {
        "WMT": "Wall-Mart",
        "KMB": "Kimberly-Klark",
        "MO": "Alteria Group",
        "WPC": "W.P. Carey Inc. REIT",
        "CSCO": "Cisco"
    }

    for tick in tickers:

        quote_table = si.get_quote_table(tick)
        dividend_data = quote_table["Forward Dividend & Yield"].split(" ")
        div_amount = (float(dividend_data[0]))


        dividend_data = quote_table["Forward Dividend & Yield"].split(" ")
        div_percent = (dividend_data[1])


        quote_price = quote_table["Quote Price"]
        tick_price = (round(quote_price, 2))


        my_div = round((100 / tick_price) * div_amount, 2)

        lst.append(company_dict[tick])
        lst.append(tick)
        lst.append(my_div)

    x = 0
    y = 3
    z = 0
    max_range = len(lst) / 3

    new_lst = []

    while z < max_range:
        new_lst.append(lst[x:y])
        x += 3
        y += 3
        z += 1


    columns = ["Name", "Ticker", "Return"]

    dataFrame = pd.DataFrame(np.array(new_lst), columns=columns)
    print(dataFrame)

jan_ticks = ["WMT", "KMB", "MO", "WPC", "CSCO"]

get_data(jan_ticks)

                   Name Ticker Return
0             Wall-Mart    WMT   1.47
1        Kimberly-Klark    KMB   3.49
2         Alteria Group     MO   8.15
3  W.P. Carey Inc. REIT    WPC   5.36
4                 Cisco   CSCO   2.58

In [90]:
import pandas as pd
import numpy as np
from yahoo_fin.stock_info import get_data
import yahoo_fin.stock_info as si
import html5lib



jan_ticks = ["WMT", "KMB", "MO", "WPC", "CSCO"]


def get_data(tickers):

    lst = []
    company_dict = {
        "WMT": "Wall-Mart",
        "KMB": "Kimberly-Klark",
        "MO": "Alteria Group",
        "WPC": "W.P. Carey Inc. REIT",
        "CSCO": "Cisco",
        "T": "AT&T Inc.",
        "BX": "Blackstone Group",
        "AAPL": "Apple",
        "CAT": "Caterpillar Inc.",
        "SPG": "Simon Property Group (REIT)"

    }

    for tick in tickers:
        quote_table = si.get_quote_table(tick)
        dividend_data = quote_table["Forward Dividend & Yield"].split(" ")
        div_amount = (float(dividend_data[0]))


        dividend_data = quote_table["Forward Dividend & Yield"].split(" ")
        div_percent = (dividend_data[1])

        quote_price = quote_table["Quote Price"]
        tick_price = (round(quote_price, 2))

        my_div = round((100 / tick_price) * div_amount, 2)

        lst.append(company_dict[tick])
        lst.append(tick)
        lst.append(my_div)

    x = 0
    y = 3
    z = 0
    max_range = len(lst) / 3
    new_lst = []

    while z < max_range:
        new_lst.append(lst[x:y])
        x += 3
        y += 3
        z += 1
    columns = ["Name", "Ticker", "Return"]

    dataFrame = pd.DataFrame(np.array(new_lst), columns=columns)
    print(dataFrame)



jan_ticks = ["WMT", "KMB", "MO", "WPC", "CSCO"]
feb_ticks = ["T", "BX", "AAPL", "CAT", "SPG"]

get_data(feb_ticks)

                          Name Ticker Return
0                    AT&T Inc.      T   8.24
1             Blackstone Group     BX   2.53
2                        Apple   AAPL   0.58
3             Caterpillar Inc.    CAT   2.16
4  Simon Property Group (REIT)    SPG   3.83